/* NAVIGATION */
header {
  max-width: 800px;
}
span.mdl-layout-title {
  color: white;
  font-family: futura-pt, futura, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
a.mdl-navigation__link {
  color: white;
  font-family: futura-pt, futura, sans-serif;
}


/* STRUCTURE */

body  {
  background: url(../images/cs_head_desktop.png) center / cover;
  padding-bottom: 2em;
  font-size: 16px;
}

div.container {
  max-width: 800px;
  margin: 0 auto;
}


/* HOMEPAGE SPECIFIC SECTIONS */

section.welcome_container {
  background-color: hsla(360, 100%, 100%, 0.05);
  margin-top: 25vh;
  margin-bottom: 20vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 4vh;
  padding-right: 4vh;
  text-align: center;
}

/* CASE STUDY PAGE SPECIFIC SECTIONS */

section.casestudy_header {
  text-align: center;
}

section.summary {
  background-color: #011F2F;
  padding: 4vh;
  padding-bottom: 10vh;
}

div.sum_details {
  padding: 2vh;
}

section.casestudy_section {
  background-color: #011F2F;
  padding: 4vh;
}

/* IMAGES */

img {
  height: auto;
  max-width: 100%;
}

/* HOMEPAGE PROJECT PREVIEW STYLES */
.project {
  background-color: hsla(360, 100%, 100%, 0.05);
  color: white;
}

.project-description {
  color: white;
  font-size: 0.9em;
  letter-spacing: 1px;
  margin-top: 3vh;
}

.project img {
  width: 100%;
}

/* CTA Button */
button {
  background-color: #FF44DB;
  border: none;
  color: white;
  font-family: proxima-nova, sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
  padding: 12px;
}

div.sum_button {
  text-align: center;
}

/* TYPOGRAPHY */

h1 {
  color: hsla(0, 0%, 100%, 1);
  font-family: futura-pt, futura, sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 20px;
  padding-top: 20vh;
}

h1.hero_name {
  color: hsla(0, 0%, 100%, 1);
  font-family: futura-pt, sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 10px;
  padding-left: 2vw;
  padding-top: 30vh;
}

h2 {
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
}

h2.hero_role_location {
  color: hsla(0, 0%, 100%, 1);
  font-size: 1.2em;
  letter-spacing: 10px;
  padding-left: 2vw;
}

/* font for client/scope/role titles */
h2.mdl-card__title-text {
  color: #FF44DB;
  font-family: futura, sans-serif;
  letter-spacing: 2px;
}

h3 {
  color: white;
  font-family: futura-pt, futura, sans-serif;
  letter-spacing: 5px;
  text-align: center;
}

/* style for title in project preview on homepage */
h3.mdl-card__title-text {
  font-weight: 600;
  letter-spacing: 2px;
}

h4 {
  font-family: proxima-nova, sans-serif;
}

/* style for sub-title in project preview on homepage */
h4.mdl-card__title-text {
  font-family: proxima-nova, sans-serif;
  font-size: 1.2em;
}

h5 {
  color:white;
}

p {
  color: white;
  font-family: proxima-nova, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
}


/* FOOTER */

footer.mdl-mini-footer {
   background-color: #011F2F;
   bottom: 0;
   margin-top: 5em;
   padding: 0.5rem;
   width: 100%;
   z-index: 1;
 }

 footer.mdl-mini-footer > ul {
   color: white;
   font-family:futura-pt, futura, sans-serif;
   font-size: 1rem;
   letter-spacing: 0.2em;
   margin: 0 auto;
 }

/* RESPONSIVE MEDIA QUERY DESIGN */

 @media screen and (max-width: 1024px) {
    header.mdl-layout__header {
      display: flex;
    }
  }
