
body  {
  background-color: #011F2F;
     padding-bottom: 5rem;
}


/*
nav {
   background-color: hsla(0, 100%, 100%, 0.1);
}


nav ul {
  display: flex;
  list-style-type: none;
}

/* style for the first level items
nav  ul li  a {
    color: white;
    padding: 2em;
    text-decoration: none;
}
*/

section.hero {
   background: url(../images/hero_image.jpg) center / cover;
   padding-top: 20vh;
   height: 100vh;
   text-align: left;
 }

section.welcome_container {
  background-color: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

h1 {
  color: hsla(0, 0%, 100%, 1);
  font-weight: bold;
}

h2{

}

h3 {

}

h4 {

}

h5 {
  color:white;
}

p {

}

.slogan {
  color: pink;
  font-weight: lighter;
  font-size: 2rem;
}

main {
    max-width: 1440px;
}

.project-description {
    padding-left: 0;
}

.project img {
    width: 100%;
}

footer.mdl-mini-footer {
   background-color: hsla(0, 100%, 100%, 0.2);
   color:white;
   bottom: 0;
   padding: 0.5rem;
   position: fixed;
   width: 100%;
   z-index: 1;
 }

 footer.mdl-mini-footer > ul {
   margin: auto;
   font-size: 1.5rem;
 }

 @media screen and (max-width: 1024px) {
    header.mdl-layout__header {
      display: flex;
    }
  }
